extends layout

block heading
  link(rel='stylesheet', type='text/css', href='/stylesheets/fullcalendar.css')
  script(type='text/javascript', src='/javascripts/jquery.js')
  script(type='text/javascript', src='/javascripts/fullcalendar.js')
  script(type='text/javascript')
    function init(events) {
      console.log("page loaded")

      $('#calendar').fullCalendar({
         events: events
      })
    };

block content
  h1= title
  div(class="inline", style="display:inline-block; vertical-align:text-top")
    div(class="goals", style="display:inline-block; vertical-align:text-top; width:300px")
      h2 Today's Reminders
      ul
        each info, goal in goals
          - if (info.daily !== ''){
            li
              h4 #{info.daily}
              
          -}
      br
      h2 Goals
      ul
        each info, goal in goals
          - if (info.goal !== ''){
            li
              h3 #{info.goal}
              //- h3 #{info.tasks[0].duration}
              //- script(type='text/javascript')
              //-  task_array=[];
              //-  task_array[0]='#{info.tasks.duration}';
              //-  var task = '#{info}';

              //-  for (var i=0;i<2;i++){
              //-   console.log(i);
              //-   console.log('#{info.tasks[0].duration}'); 
              //-  }
          -}
      form(id="cancel", action='/intermediate', method='get')
        input(class="btn btn-primary", type='submit', value='Add a Goal')
    div(id="calendar")
    script(type='text/javascript');
      var events = [];
      
    each info, goal in goals
      //- initialize total duration and num_tasks to 0
      script(type='text/javascript');
        var total_duration = 0;
        var num_tasks = 0;
      //- sum the tasks' durations for this goal
      each task in info.tasks
        script(type='text/javascript');
          total_duration += parseInt('#{task.duration}');
          num_tasks += 1;
      script(type='text/javascript');
        //- find goal's start and end dates
        var start_day = '#{info.start[0]}';
        var end_day = '#{info.end[0]}';
        var day = parseInt(start_day);
        var start_month = '#{info.start[1]}';
        var month = parseInt(start_month);
        var start_year = '#{info.start[2]}';
        var end_month = '#{info.end[1]}';
        var end_year = '#{info.end[2]}';

        //- find the buffer time btw end date and start date plus total task duration
        var start_date = new Date(parseInt(start_year), parseInt(start_month)-1, parseInt(start_day));
        var end_date = new Date(parseInt(end_year), parseInt(end_month)-1, parseInt(end_day));
        var millis_to_day_convert = 1000*60*60*24;
        var start_time = start_date.getTime()/millis_to_day_convert;
        var end_time = end_date.getTime()/millis_to_day_convert;
        var buffer = end_time - (start_time+total_duration);
        var buffer_incr = Math.floor(buffer/(num_tasks-1));
        //- console.log("start", start_time, "end", end_time, "buffer", buffer_incr);
        //- console.log(parseInt(start_month), parseInt(start_day), parseInt(start_year), end_month, end_year)

        events.push({
          title  : 'Achieved goal '+'#{info.goal}'+'!',
          start  : end_year+'-'+end_month+'-'+end_day
        });
      //- populate calendar events list with each goal's tasks
      each task in info.tasks
        script(type='text/javascript');
          var task = '#{task.task}';
          var duration = parseInt('#{task.duration}');
          //- increment month and decrease day by 30 if day > 30
          if (day > 30) {
            day = day - 30;
            month += 1;
          }
          //- TODO: increment year and decrease month if month > 12
          //- adds a 0 in front if the day or month string has < 2 characters
          var day_extra_digit = '';
          if (day < 10) {
            day_extra_digit = '0';
          } 
          var month_extra_digit = '';
          if (month < 10) {
            month_extra_digit = '0';
          }
          
          //- TODO: enable really long tasks (i.e. duration > 30)
          if (task!='' && task.length > 1) {
            console.log(task, duration, "month", month_extra_digit+month.toString(), "day", day_extra_digit+day.toString());
            //- NOTE: really long tasks (i.e. 30 days) don't wrap into the next month :(
            events.push({
              title  : task,
              start  : start_year+'-'+month_extra_digit+month.toString()+'-'+day_extra_digit+day.toString(),
              end  : start_year+'-'+month_extra_digit+month.toString()+'-'+day_extra_digit+(day+duration-1).toString() 
            });
            if (buffer_incr > 0) {
              day += duration+buffer_incr;
            } else {
              day += duration;
            }
          }
   
    script(type='text/javascript');
      init(events);




