extends layout

block heading
  link(rel='stylesheet', type='text/css', href='/stylesheets/fullcalendar.css')
  script(type='text/javascript', src='/javascripts/jquery.js')
  script(type='text/javascript', src='/javascripts/fullcalendar.js')
  script(type='text/javascript')
    function init() {
      console.log("page loaded")

      $('#calendar').fullCalendar({
         events: [
        {
            title  : 'Sample event 1',
            start  : '2013-04-01'
        },
        {
            title  : 'Sample event 2',
            start  : '2013-04-05',
            end    : '2013-04-06'
        },
        {
            title  : 'Sample event 3',
            start  : '2013-04-09 12:30:00',
            allDay : false 
        }
    
      ]
      })
    };

block content
  h1= title
  div(class="inline", style="display:inline-block; vertical-align:text-top")
    div(class="goals", style="display:inline-block; vertical-align:text-top; width:300px")
      h2 Today's Reminders
      ul
        each info, goal in goals
          - if (info.daily !== ''){
            li
              h4 #{info.daily}
              
          -}
      br
      h2 Goals
      ul
        each info, goal in goals
          - if (info.goal !== ''){
            li
              h3 #{info.goal}
              h3 #{info.tasks[1].duration}
              script(type='text/javascript')
               g=0;
               for (var i=0;i<2;i++){ 
                console.log('#{info.tasks[0].duration}')
               }
          -}
      form(id="cancel", action='/intermediate', method='get')
        input(class="btn btn-primary", type='submit', value='Add a Goal')
    div(id="calendar")
    script(type='text/javascript');
     init();




